/* Home.module.css */

.inputElement {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.labelText {
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputGroup label {
  margin-right: 10px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.submitButton2 {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center; /* アイコンを中央に配置 */
}

.submitButton2 img {
  margin-right: 10px; /* アイコンとテキストの間隔を調整 */
}


@media (max-width: 768px) {
  .form {
    width: 90%;
  }
}
