.post {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text{
  width: 100%;
}

.post img {
  width: 300px;
  /* max-width: 100%; */
  height: auto;
}

@media (min-width: 768px) {
  .post img {
    max-width: 50%;
  }
  .text{
    width: 800px;
  }
}